HELP.md
target/
src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/deployScript/
/deployScript/app_monitoring.sh
/deployScript/app_start.sh
/deployScript/app_stop.sh
/appspec.yml
/buildspec.yml
